@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
/* line 3, assets\less\style.less */
html {
  font-size: 100%;
  background: url('../images/homebg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* line 8, assets\less\style.less */
* {
  margin: 0;
  padding: 0;
}
/* line 11, assets\less\style.less */
body {
  width: 100%;
  height: auto;
  font-family: 'Noto Sans KR', Sans-serif, Helvetica;
}
/* line 16, assets\less\style.less */
ul,
ol,
li {
  list-style: none;
}
/* line 19, assets\less\style.less */
a {
  text-decoration: none;
}
/* line 21, assets\less\style.less */
.cfixed:after {
  display: block;
  content: "";
  clear: both;
}
/* line 26, assets\less\style.less */
.wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
}
/* line 32, assets\less\style.less */
.wrapper .wrap {
  height: 100%;
  z-index: 999;
}
/* line 37, assets\less\style.less */
.wrapper .wrap header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 150px;
}
/* line 42, assets\less\style.less */
.wrapper .wrap header .logo {
  position: relative;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: -10px 8px 15px #000000;
}
/* line 50, assets\less\style.less */
.wrapper .wrap header .logo a {
  color: #fff;
}
/* line 53, assets\less\style.less */
.wrapper .wrap header .logo a:hover {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
}
/* line 59, assets\less\style.less */
.wrapper .wrap header nav {
  margin: 0 auto;
  width: 79.16666666%;
  height: 45px;
}
/* line 63, assets\less\style.less */
.wrapper .wrap header nav > ul {
  margin-top: 4px;
}
/* line 65, assets\less\style.less */
.wrapper .wrap header nav > ul > li {
  float: left;
  width: 16.5%;
  font-size: 26px;
  line-height: 26px;
  border: 1px solid #fff;
  text-transform: uppercase;
  text-align: center;
}
/* line 75, assets\less\style.less */
.wrapper .wrap header nav > ul > li a {
  color: #fff;
  padding-top: 20px;
}
/* line 80, assets\less\style.less */
.wrapper .wrap header nav > ul > li:hover {
  padding-bottom: 20px;
}
/* line 84, assets\less\style.less */
.wrapper .wrap header nav > ul li:hover ul {
  display: block;
}
/* line 86, assets\less\style.less */
.wrapper .wrap header nav > ul li:hover > a {
  color: yellow;
  text-shadow: 0 0 15px #ffff00;
  transition: all 1000ms;
}
/* line 91, assets\less\style.less */
.wrapper .wrap header nav > ul ul {
  display: none;
}
/* line 93, assets\less\style.less */
.wrapper .wrap header nav > ul ul box-shadow:0 0 15px rgba(0,0,0,.5) li {
  width: auto;
  height: auto;
}
/* line 103, assets\less\style.less */
.wrapper .wrap header .menu-toggle-btn {
  display: none;
}
/* line 109, assets\less\style.less */
section {
  width: 79.16666666%;
  margin: 0 auto;
}
/* line 112, assets\less\style.less */
section h2 {
  font-size: 50px;
  color: #fff;
}
/* line 117, assets\less\style.less */
#set1 {
  width: 100%;
  padding-top: 185px;
  position: relative;
}
/* line 121, assets\less\style.less */
#set1 .slide {
  width: 36%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
/* line 127, assets\less\style.less */
#set1 .slide ul {
  width: 100%;
  height: 400px;
  text-align: center;
  overflow: hidden;
}
/* line 132, assets\less\style.less */
#set1 .slide ul li {
  display: inline-block;
}
/* line 134, assets\less\style.less */
#set1 .slide ul li img {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  display: none;
}
/* line 141, assets\less\style.less */
#set1 .slide ul li a {
  position: relative;
  top: 350px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
}
/* line 149, assets\less\style.less */
#set1 .slide ul li a i {
  color: black;
}
/* line 154, assets\less\style.less */
#set1 .slide ul li:first-child img {
  display: block;
}
/* line 159, assets\less\style.less */
#set1 button {
  position: absolute;
  top: 0;
  background: rgba(225, 225, 225, 0);
  border: 0;
}
/* line 165, assets\less\style.less */
#set1 .prev {
  left: 0;
  top: 50%;
  margin-left: 20px;
}
/* line 170, assets\less\style.less */
#set1 .next {
  right: 0;
  top: 50%;
  margin-right: 20px;
}
/* line 180, assets\less\style.less */
#set2 .bestmenu ul {
  width: 80%;
  margin: 0 auto;
}
/* line 183, assets\less\style.less */
#set2 .bestmenu ul li {
  float: left;
  width: 30%;
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  text-align: center;
}
/* line 190, assets\less\style.less */
#set2 .bestmenu ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 195, assets\less\style.less */
#set2 .bestmenu ul li a img {
  height: 100%;
}
/* line 201, assets\less\style.less */
#set2 .bestmenu ul li:nth-child(2) {
  margin: 0 5%;
}
/* line 209, assets\less\style.less */
#set3 .tastelist {
  width: 60%;
  position: relative;
  margin: 0 auto;
  height: 400px;
}
/* line 214, assets\less\style.less */
#set3 .tastelist a {
  color: #fff;
}
/* line 217, assets\less\style.less */
#set3 .tastelist > li {
  background: green;
  font-size: 35px;
  text-align: center;
  width: 30%;
  height: 80px;
  line-height: 80px;
  background: #000000;
}
/* line 228, assets\less\style.less */
#set3 .tastelist > li .taste {
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 400px;
}
/* line 234, assets\less\style.less */
#set3 .tastelist > li .taste li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 247, assets\less\style.less */
#set4 .location {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 251, assets\less\style.less */
#set4 .location iframe {
  width: 100%;
  height: 300px;
}
/* line 257, assets\less\style.less */
footer {
  width: 20%;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* line 263, assets\less\style.less */
footer .address {
  background: #fff;
}
@media (max-width: 1600px) {
  /* line 269, assets\less\style.less */
  html {
    font-size: 83.3333%;
  }
}
@media (max-width: 768px) {
  /* line 272, assets\less\style.less */
  html {
    font-size: 40%;
  }
}
